
<ion-view title="Contact Us">
 <ion-content  class="has-header">

  <div id="contact">
  </div>

 <h2 class="font-style"><center>Please Contact Us</h2>
 <div class="item item-text-wrap text-center">
<h3> <i class="icon ion-ios-telephone"></i> Call us at <a ng-href="tel: 1800256122">1800-256-122</a></h3><br/>
<h3><i class="icon ion-earth"></i>&nbsp;Visit us at <a href="#" onclick="window.open('http://www.miraclesoft.com/', '_system', 'location=yes'); return false;">www.miraclesoft.com</a></h3><br/>
<h3> <i class="icon ion-email"></i>&nbsp;Mail us at <a ng-href="mailto: info@miraclesoft.com">info@miraclesoft.com</a></h3>
</div>
</ion-content>
</ion-view>
