<ion-view view-title="Expense policy">
<ion-content class="padding">
<h3 class="font-style">Expense Policy 2017</h3><br>
  <div class="item item-text-wrap">


  <p >Please read the following terms and conditions carefully
  as it sets out the terms of a conference held by
  Business Standard Private Limited.</p>
  <p class="font-face">This registration agreement includes and incorporates by reference the Privacy Policy/Terms of Use posted in the footer below. You may also request a copy of the posted Registration Terms and Conditions, as well as
  the Privacy Policy/Terms of Use, by contacting rsaconferencehelp@rsaconference.com </p>


  <p class="font-face">If circumstances, or policies in your organization change, and you can no longer attend RSA Conference
  2014, you can cancel your registration and receive a full refund, less a $125 administration fee, up to
  November 15th, 2013.  From November 16th, 2013 to January 24th, 2014 you can cancel your registration and
  receive a 50% refund.</p>
<p class="font-face">  After January 24th, 2014 we will not be able to refund your registration if you
  cancel, however you can make a substitution at any time for a $125 fee.  Please see the substitution
  policy for details.
  </p>
</div>
  </ion-content>
   <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
  </ion-view>
